/**
 - Filename: main.css
 - Created On: July 7, 2016
 - Version: 1
 - Author: Your Name <your.email>
 - Function:
   - This a sample template for every file we make to monitor the authors of our codes
   - Ex: This is the main template for the site.
*/
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Arsenal-Regular.otf');
}
@font-face {
font-family: 'Roboto-Black';
src: url('../fonts/Roboto-Black.ttf');
src: url('../fonts/Roboto-Black.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Roboto-BlackItalic';
src: url('../fonts/Roboto-BlackItalic.ttf');
src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Roboto-Bold';
src: url('../fonts/Roboto-Bold.ttf');
src: url('../fonts/Roboto-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Roboto-BoldItalic';
src: url('../fonts/Roboto-BoldItalic.ttf');
src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Roboto-BoldItalic';
src: url('../fonts/Roboto-BoldItalic.ttf');
src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Roboto-Italic';
src: url('../fonts/Roboto-Italic.ttf');
src: url('../fonts/Roboto-Italic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Roboto-Light';
src: url('../fonts/Roboto-Light.ttf');
src: url('../fonts/Roboto-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Roboto-LightItalic';
src: url('../fonts/Roboto-LightItalic.ttf');
src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Roboto-Medium';
src: url('../fonts/Roboto-Medium.ttf');
src: url('../fonts/Roboto-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Roboto-MediumItalic';
src: url('../fonts/Roboto-MediumItalic.ttf');
src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Roboto-Regular, "Sans Serif";
	background-color:#f3f3f3;
	width:100%;
}
header {
  height:62px;
  background-color:#f3f3f3;
  text-align:center;
}

/*login*/
.login__container{
  width: 357px;
  height:384px;
  margin: auto;
  margin-top: 138px;
}
.login__logo{
  display: flex;
  justify-content: center;
}
.login__midtown-logo {
  width: 65px;
  height: 107px;
}
.login__title{
  color: #009fe3;
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}
.login__input-container {
  margin-bottom: 5px;
}
.login__button input {
  width: 355px;
  font-size: 18px;
  margin-top: 8px;
}
.login__input-icon {
  float: left;
  width: 50px;
  height: 55px;
  border: 2px solid #3e424e;
  background-color: #3e424e;
  color: white;
  text-align: center;
  padding: 10px;
}
.login__input {
  width: 306px;
  height: 56px;
  background: white;
  color: rgba(33, 33, 33, 0.38);
  font-size: 18px;
  
}
.login__remember {
  padding-top: 18px;
}
.forgot-password {
  line-height: 2;
}
.login__forgot-password {
  font-size: 14px;
  text-decoration: none;
}
.login__remember input {
  width: 15px;
}
.login--height {
  height: 56px;
}
.button--grey {
  background-color: #3e424e; 
  color: #ffffff;
}
.text--remember {
  font-size: 18px;
    float: right;
}
.login__powered {
  text-align: center;
  font-size: 20px;
  margin-top: 200px;
}

/*end of login*/
[class*="col-"] {
	padding-right: 5px;
	padding-left: 5px;
}
[class*="btn"] {
  border-radius: 0; 
}
.text__title {
	padding: 18px 0px 5px 0px;
}
.breadcrumbs {
	height:49px;
	background-color:#777c88;
	margin-bottom: 10px;
}
.nav__logo-container {
	height:111px;
	background-color:#ffffff;
	padding: 5px;
	text-align: center;
}
.nav__logo-image {
	width:64px;
	height:102px;
	margin: auto;
}
.nav__profile-image {
	height:204px;
	background-color: #d9d9d9;
}
.nav__profile-information {
	height:50px;
	background-color:#777c88;
	padding:5px;
}
.nav__dashboard-container {
	height:106px;
	background-color: #3e424e;
}
.nav__links-container {
	height: 582px;
	background-color: #3e424e;
}
.footer__logout {
	height: 51px;
	background-color: #3e424e;
}
.footer__container {
	height:51px;
	background-color: #777c88;
}
.text__profile-name {
	text-align: center;
	color: #ffffff;
}
.text__profile-position {
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	line-height: 2px;
}
.text__dashboard {
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	padding: 10px 0px 0px 0px;
}
.nav__dashboard-notification {
	height:106px;
	margin: 0px 9px 0px 9px;
	background-color: #ffffff;
}
.text__footer-logout {
	color: #ffffff;
	font-size: 14px;
	padding: 5px 0px 0px 8px;
}
.panel {
	margin-bottom: 10px;
}
.panel__text-title {
	font-size: 14px;
	font-weight: bold;
}
.panel__input-container {
	border: 0;
	border-bottom: 1px solid #cccccc;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 20px;
}
.panel__input-container {
	border: 0;
	border-bottom: 1px solid #cccccc;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
}
.panel__input-container:focus {
	border-color: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none);
}
input[type=checkbox] {
	border: 1px solid #009640;
}
.jumbotron__image {
  background-image: url('../images/view-profile-banner.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.jumbotron__container {
  width: 94px;
  height: 94px;
}
.jumbotron__profile-container {
  width: 94px;
}
.jumbotron__profile-information {
  
}
.jumbotron__image-circle {
  width: 94px;
  height: 94px;
  border-radius: 50%;
}

/*Modifier
by Cheen */
.no--space {
		padding: 0;
}
.no--border {
  border-color: 0;
  border-radius: 0;
}
.no--float {
  float: none;
}
.no--padding {
  padding: 0;
}
.margin--bottom {
	margin-bottom: 5px;
}
.text--white {
  color: #ffffff;
}
.text--italic {
	font-style: italic;
}
.text--italic ul {
}
.text--italic ul li {
}
.checkbox--border:before {
	content: "";
	width: 17px;
	height: 17px;
	padding: 0px 5px;
	border: 1px solid #009640;
}
.button--dark {
	background-color: #20232c;
	color: #ffffff;
}
.button--dark:hover {
	background-color: #4c4f56;
	color: #ffffff;
}
.authority__button-container {
	width: 170px;
}
